body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
text-align: center;
margin-top: 20px;
}
label{
    font-size: 2em;
    padding-right: 20px;
}
button{
    font-size: 2em;
    margin-top: 20px;
}
th {
   
  
}
table{
    width: 600px;
    height: 10px;
   border:1px solid black;
}

.div1{
    display: flex;
    
    justify-content:center
}
